# .github/workflows/terraform-apply.yml
name: terraform-apply

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to apply"
        required: true
        type: choice
        options:
          - dev
          - test
          - prod

permissions:
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest

    env:
      TF_IN_AUTOMATION: "true"
      TF_ENV: ${{ github.event.inputs.environment }}
      GOOGLE_PROJECT: {project id}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Terraform Init
        run: terraform -chdir=infra init -input=false

      - name: Select/Create Workspace (${{ env.TF_ENV }})
        run: |
          terraform -chdir=infra workspace select "${{ env.TF_ENV }}" \
          || terraform -chdir=infra workspace new "${{ env.TF_ENV }}"

      - name: Terraform Apply (${{ env.TF_ENV }})
        run: |
          terraform -chdir=infra apply \
            -auto-approve \
            -input=false \
            -var-file="${{ env.TF_ENV }}.tfvars"
